<!DOCTYPE html>
<head>
<title>Update Comment</title>
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<header>Post Comment</header>
	<form action="/catagory/:catagoryid/posts/<%= post.id %>/savecomment?_method=PUT" method="POST">
		<p><%= comment.comment %></p>
		<textarea name="comment" required></textarea><br>
		<button name="post_id" value="<%= comment.post_id %>">Update</button><br>
	</form>
	<a href="/post/<%= comment.post_id %>">Back to post</a>
	<form action="/post/<%= post.id %>?_method=DELETE" method="POST">
		<button name="post_id" value="<%= comment.post_id %>">DELETE</button>
	</form>
</body>
</html>

