
<!DOCTYPE html>
<head>
	<style>
		h3 {
			text-align: center;
			font-family: chalkduster;
			color:#F00;
		}
		input[type="text"].text {
			width: 400px;
			font-size: 20px;
		}
		input[type="text"].image {
			width: 400px;
			font-size: 15px;
		}

		a {
			color: green;
		}
		body {
			text-align: left;
			/*background-color: #E0F8FF;*/
			margin: 30px;
			padding: 0px 10px 5px;
		}
		input[type="text"] {
			width: 400px;
			font-size: 20px;
		}
		input[type="date"] {
			font-size: 20px;
		}
		textarea {
			font-size: 12px;
		}
	</style>
</head>
<body>
	<a href="/">Back to Forum</a>

	<h3>Update <%= thisCategory.title %></h3>
	<form action ="/forum/<%= thisCategory.id %>/page/1?_method=PUT" method="POST">
		<p><input class="text" type="text" name="title" value="<%= thisCategory.title %>"></br></p>
		<textarea rows="15" cols="100" name="content" ><%= thisCategory.body %></textarea></br></br>
		<!-- needs to be body not content -->
		<input class="image" type="text" name="image" value="<%= thisCategory.image %>">
				<button>Submit</button>
	</form>
	<!-- <a href="/">Back to Forum</a> -->
</body>
</html> 
