<!DOCTYPE html>
<head>
	<style>
		h3 {
			text-align: center;
			font-family: chalkduster;
			color:#F00;
		}
		input[type="text"].text {
			width: 400px;
			font-size: 20px;
		}
		input[type="text"].image {
			width: 400px;
			font-size: 15px;
		}
		input[type="date"] {
			font-size: 20px;
		}
		a {
			color: green;
		}
		body {
			text-align: left;
			/*background-color: #E0F8FF;*/
			margin: 20px;
			padding: 0px 10px 5px;
		}

		textarea {
			font-size: 12px;
		}
	</style>
</head>
<body>
	<a href="/">Back to Forum</a></br>
	<h3>Update <%= thisPost.title %></h3>

	<p><form action ="/post/<%= thisPost.id %>/update?_method=PUT" method="POST">
		<input type="date" name="date" placeholder="date"></br> </p>
		<p><input class="text" type="text" name="title" value="<%= thisPost.title %>"></br></p>
		<textarea rows="15" cols="100" name="content" ><%= thisPost.body %></textarea></br></br> 
		<!-- needs to be body not content -->
		<input class="image" type="text" name="image" value="<%= thisPost.image %>">
		<button>Submit</button>
	</form>
	
</body>
</html> 