<!DOCTYPE html>
<head>
</head>
<body>
	<a href="/">Back to Forum</a><br>
	<br/><br/>
	<a href="/forum/<%= catagory.id %>/edit">Edit Catagory</a><br>
	<h1><%= catagory.title %></h1> 
	
	<p><%= catagory.body %></p>
	</br>
	
	<img src="<%= catagory.image %>">
	<br>
	
	<p><%= posts.length %></p>

	<br/>
	<% for (var i = 0; i<posts.length; i++) { %>
		<%= posts[i].id %> - <a href="/post/<%= posts[i].id %>"><%=posts[i].title%> </a> 
		<hr/>
	<%}%>
	<button>Upvote<button><button>Downvote</button></br>
	
	<form method="POST" action="/forum/<%= catagory.id %>?_method=DELETE">
		<button>Delete</button>
	</form>

	<br/>
	<a href="/catagory/<%= catagory.id %>/posts/new"> Create a new Post</a> 


</body>
</html>