<!DOCTYPE html>
<head>
</head>

<body>
	<a href="/post/<%= post.id %>/edit">Edit Post</a><br>
	<h1><%= post.title %></h1> 
	

	<p> 
		Time: <%= post.time %></br>
		Id: <%= post.id %></br>
		<%= post.body %></br>
		<%= post.Upvote %></br>
		<%= post.Downvote %></br>
		
		<ul>
		<% for(var i = 0; i<comments.length; i++) { %>
		<li><%= comments[i].comment %></li>
		<% }%>
		</ul>
	</p>
	<img src="<%= post.image %>"><br>
	<form method="POST" action="/post/<%= post.id %>/upvote">
		(<%= post.Upvotes %> )<input type="submit" value="Upvotes">
	</form>
	<form method="POST" action="/post/<%= post.id %>/downvote">
		<%= post.Downvotes %><input type="submit" value="Downvotes">
	</form>
	
	
	<form method="POST" action="/post/<%= post.id %>/comment">
	<textarea name="comment" placeholder="comment"></textarea>
	<input type="submit">
	</form>



	<form method="POST" action="/post/<%= post.id %>?_method=DELETE">
		<button>Delete</button>
	</form>
	<a href="/">Back to Forum</a><br>
</body>
</html>