<!DOCTYPE html>
<head>
</head>

<body>
	<a href="/post/<%= post.id %>/edit">Edit Post</a><br>
	<h1><%= post.title %></h1> 
	

	<p> 
		<%= post.id %></br>
		<%= post.author %></br>
		<%= post.body %></br>
		<%= post.Upvote %>
		<%= post.Downvote %>
	</p>
	<img src="<%= post.image %>"><br>
	<form method="POST" action="/post/<%= post.id %>/upvote">
		<%= post.Upvotes %> <input type="submit" value="Upvotes">
	</form>
	<form method="POST" action="/post/<%= post.id %>/downvote">
		<%= post.Downvotes %><input type="submit" value="Downvotes">
	</form>

	<a href="/">Back to Forum</a><br>

	<form method="POST" action="/post/<%= post.id %>?_method=DELETE">
		<button>Delete</button>
	</form>
</body>
</html>