<!DOCTYPE html>
<head>
	<style>
		h1 {
			text-align: center;
			color: #F00;
			font-family: chalkduster;
		}
		body {
			text-align: justify;
			margin-left: 20px;
			padding: 10px 20px 5px 10px;
		}
		a {
			color: green;
		}
		
		p {
			text-align: justify;
			color: #195019;
			font-family: helvetica;
			font-size: 18px;
		}
		img {
			width: 400px;
			height: 250px;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
		ul {
			padding: 10px 10px 10px 20px;
			list-style-type: none;
			margin: auto;

		}
		li {
			padding: 0px 10px 10px 10px;
		}
		table {
			width: 800px;
			padding: 10px;		
		}
		#side {
			float: right;
			width: 450px;
			height: 100%;
		}
		#main {
			padding-right: 25px;
			height: 100%;
			padding-left: 15px;
			width: 700px;						
		}
		#bottom {
			width:100%;
		}
	</style>
</head>

<body>
	<table>
		<td><a class="hyper" href="/">Back to Forum</a></td>
		<td><a class="hyper" href="/post/<%= post.id %>/edit">Edit Post</a></td>
	</table>

	<h1><%= post.title %></h1> 
	<div id = "side">
		<img src="<%= post.image %>">
	</div>

	<div id = "main">
		<p> 
			<%- post.body %></br>
		</p>
	
		<form method="POST" action="/post/<%= post.id %>/upvote">
			<%= post.Upvotes %> <input type="submit" value="Like">
		</form>
		<form method="POST" action="/post/<%= post.id %>/downvote">
			<%= post.Downvotes %><input type="submit" value="Dislike">
		</form></br>

		<form method="POST" action="/post/<%= post.id %>?_method=DELETE">
			<input type="submit" value="Delete" style="border:2px green solid;"/>
		</form>
	</div>

	<div id = "bottom">

	<hr></hr>

	<p>Please leave your comments below:</p>

	<form method="POST" action="/post/<%= post.id %>/comment">
		<textarea name="comment" placeholder="comment"></textarea>
		<input type="submit">
	</form></br>

	Comments :

	<ul>

		<% for(var i = 0; i<comments.length; i++) { %>
		<li><%= comments[i].comment %></li>
		<% }%>
	</ul>
	</div>
</body>
</html>