<!DOCTYPE html>
<head>
	<style>
		h2 {
			text-align: center;
			color: #F00;
			font-family: chalkduster;
		}

		body {
			text-align: justify;
			margin-top: 25px;
			margin-left: 30px;
			padding: 10px 20px 10px 20px;
		}
		h4 {
			text-align: center;
			font-family: chalkduster;
		}

		p {
			text-align: justify;
			color: #195019;
			font-family: helvetica;
			font-size: 18px;
		}
		img {
			width: 500px;
			display: block;
			margin-left: auto;
			margin-right: auto;

		}
		.list {
			padding: 5px;
			font-size: 18px;
			color: tan;
			font-family: helvetica;
		}
		.hyper {
			color: green;
		}
		.page {
			

		}
		
		ul {
			padding: 10px 10px 10px 20px;
			list-style-type: none;

		}
		li {
			border-style: outset;
			background-color: #195019;
			border-width: thick;
			text-align: center;
			width: 200px;
			margin:auto;
			height: 30px;
		}
		table {
			width: 800px;
		}

		#sidebar {
			float: right;
			width: 350px;
			height: 100%;
			padding-right: 0px;
			
		}
		#main-1 {
			padding-right: 380px;
		}
		
		#main-2 {
			padding-left: 50px;
			padding-right: 300px;
			height: 100%;
		}
	</style>

</head>
<body>
	<table>
		<td><a class="hyper" href="/">Back to Forum</a></td>
		<td><a class="hyper" href="/forum/<%= category.id %>/edit">Edit Category</a></td>
		<td><a class="hyper" href="/category/<%= category.id %>/posts/new"> Create a new Post</a></td>
	</table>
	
	<div id = "sidebar">
		<h4>Posts under this category : </h4>
		<ul>
			<% for (var i = 0; i<posts.length; i++) { %>
				<li style="padding:4px;">
					<a class="list" href="/post/<%= posts[i].id %>"><%=posts[i].title%> </a>
				</li>
			<%}%> 
		</ul></br>
	</div>


	<div id = "main-1">
		<h2><%= category.title %></h2> 
		<p><%= category.body %></p></br>
	</div>
	<div id = "main-2">	
		<img src="<%= category.image %>"></br>
	</div>
		<a class = "page" href="/forum/<%= category.id %>/page/1">Page 1</a> | 	
		<a class = "page" href="/forum/<%= category.id %>/page/2">Page 2</a> | 	
		<a class = "page" href="/forum/<%= category.id %>/page/3">Page 3</a></br></br></br>
		
		<form method="POST" action="/forum/<%= category.id %>/upvote">
			<%= category.Upvotes %> <input type="submit" value="Like">
		</form>

		<form method="POST" action="/forum/<%= category.id %>/downvote">
			<%= category.Downvotes %><input type="submit" value="Dislike">
		</form></br>


		<form method="POST" action="/forum/<%= category.id %>?_method=DELETE">
			<input type="submit" value="Delete" style="border:2px green solid;"/>
		</form></br>
	</div>



</body>
</html>

